@CHARSET "UTF-8";
.indmnity{
	width:100%;
	/* height: 2.347rem; */
	background-color:#fff;
	margin-top:.2rem;
	font-size:.222rem;
	padding:0 .239rem;
	box-sizing:border-box;
}
.indmnity .indmnityTitle{
	width:100%;
	height:0.666rem;
	line-height:.666rem;
	color: #333333;
	  position:relative;
}
.indmnity .indmnityTitle .addr{
	/* max-width: */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* display: inline-block; */
    max-width: 4.5rem;
  
}
.indmnity .indmnityTitle .way{
	background-color: rgba(240, 131, 0, 0.1);
	border-radius: 0.034rem;
	border: solid 1px rgba(207, 176, 101, 0.5);
	font-size: 0.205rem;
	color: #a0791a;
	text-align: center;
        padding: .02rem .2rem;
    margin-left:.4rem;
	
}
.indmnityDetail{
	width:100%;
	height: auto;
	background-color: #ffffff;
	
}
.indmnityDetail .indmnityImg{
	width:25%;
}
.indmnityDetail .indmnityImg img{
	width: 1.57rem;
	height: 1.297rem;
	background-color: #ffffff;
	border: solid 0.009rem #e6e6e6;
	margin-top:.188rem;
}
.indmnityDetail .indmnityMess{
	width:65%;
	height:100%;
	text-align:left;
	padding:.3rem;
	box-sizing:border-box;
	line-height:.5rem;
}
.indmnityDetail .indmnityMess .mon{
	font-size: 0.188rem;
	color: #c90d00;
}
.indmnityDetail .indmnityMore{
	width:10%;
	text-align:center;
	margin-top: .4rem;
}
.indmnityDetail .indmnityMore img{
	width: .3rem;
}

/* 赔付单详情 */
.transactionNumber{
	width:100%;
	height:.683rem;
	color: #808080;
	font-size:.222rem;
	line-height:.683rem;
	padding:0 .23rem;
	box-sizing:border-box;
}
.border_b{
	border-bottom:1px solid #f5f5f5;
}
.indmnityDetail .indmnityMess .yajin{
	font-size: 0.171rem;
	color: #a0791a;
}
.font137{
	font-size: 0.137rem !important;
}
.margin-t{
	margin-top:0 !important;
}
.indmnityRent{
	margin-top:.2rem;
	/* height: 1.246rem; */
	background-color: #ffffff;
	padding:.23rem;
	box-sizing:border-box;
}
.indmnityRent .indmnityRentTime{
	font-size: 0.205rem;
	color: #666666;
}
.indmnityRent .indmnityRentMon{
	font-size:.239rem;
	
}
.fonta07{
	color: #a0791a;
}
.fontc90{
	color: #c90d00;
}
.font666{
	color: #666666;
}
.indmnityRent >div .rentImg,.historyImg_show img{
	width: 1.83rem;
	height: 1.246rem;
	margin:0 .1rem .2rem 0;
}